@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}


<div>
    <form enctype="multipart/form-data" method="POST" asp-action="Index">
        <input type="file" asp-for="VideoFile" />
        <br/>
        Project: <input asp-for="ProjectName"/>
        <br/>
        <input type="submit" value="Upload" />

    </form>
</div>