@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <form enctype="multipart/form-data" method="POST" asp-action="Index">
        <input type="file" asp-for="VideoFile" />
        <br/>
        <input type="submit" value="Upload" />

    </form>
</div>